#container {
    margin: 35px auto;
    font-family: 'Poppins', Arial, sans-serif;
    text-transform: lowercase;
    color: #1E1E1E;
    display: flex;
    gap: 70px;
    padding: 20px;
    align-items: center;
    outline: 2px solid black;
}

.header-nav ul {
    display: flex;
    gap: 100px;
}

.header-nav ul li {
    font-size: 2.25rem;
}