.header-container {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  font-family: 'Poppins';
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: lowercase;
  margin: 50px auto;
  padding: 15px 0px;
}

.header-container ul {
  display: flex;
  gap: 50px;
}

.header-container ul li {
  padding: 20px 0px;
}

@media (max-width: 1200px) {
  .header-container {
    max-width: 1000px;
    gap: 40px;
  }
  .header-container ul {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .header-container {
    flex-direction: column;
    max-width: 800px;
    gap: 30px;
    font-size: 1.3rem;
  }
  .header-container ul {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .header-container ul li {
    border: 2px solid rgba(0, 0, 0, 0.247);
    padding: 10px;
    border-radius: 4px;
    background: #F4F4F4;
  }
  .header-container ul li:hover {
    background: rgba(0, 0, 0, 0.116);
  }
}

@media (max-width: 800px) {
  .header-container {
    flex-direction: column;
    max-width: 600px;
    gap: 20px;
  }
  .header-container ul {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .header-container ul li {
    border: 2px solid rgba(0, 0, 0, 0.247);
    padding: 10px;
    border-radius: 4px;
    background: #F4F4F4;
  }
}